{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

       {{ govukTag({
  classes: "govuk-tag--blue govuk-!-margin-bottom-4",
  text: "VERSION 4"
  }) }}




<h2 class="govuk-heading-m">Searchable accounts</h2>

<ul class="govuk-list govuk-list--bullet">      
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="advanced-search">
      Advanced company search
    </a>
  </li>
  
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="advanced-search-results">
    Advanced company search results 
    </a>
  </li>

  {# <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page">
      Company overview page
      </a> #}
  </li>
  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page-abc">
      Company overview page - ABC
      </a>
  </li>

</ul>




<h2 class="govuk-heading-m">User testing</h2>

<ul class="govuk-list govuk-list--bullet">      
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page-abc">
      Company overview page - Alpha XA4 (Paper then digital)
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page-abc">
      Company overview page - Alpha Young (new company)
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page-abc">
      Company overview page - Beta End (dissolved)
      </a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="service-information#CompanyInfoSupplied">
      Service information caveat (anchored)
    </a>
   </li>

</ul>


<div class="govuk-grid-column-full">

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Version history
    </dt>
  </div>

            {# Tags - copy and paste correct tag(s)
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
              <strong class="govuk-tag govuk-tag--blue">tech</strong>
              <strong class="govuk-tag govuk-tag--red">More research needed</strong>
              <strong class="govuk-tag govuk-tag--yellow">user research</strong>
              <strong class="govuk-tag govuk-tag--pink">design</strong> 
            </div> #}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a class="govuk-link govuk-body-m govuk-link--no-visited-state" 
      href="https://companieshouse.atlassian.net/wiki/spaces/SA1/pages/4328456193/Iterations+following+round+2" target="_blank">
      <strong>Confluence documentation of changes</strong>
   </a>
  {# <p class="govuk-body">Confluence</p> #}
  </dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">
<strong>High level changes made in this version</strong><br>
<ul class="govuk-list govuk-list--bullet">
<li>x</li>
<li>x</li>
<strong class="govuk-tag govuk-tag--red">More research needed</strong>
<li>x</li>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
<li>x</li>
<strong class="govuk-tag govuk-tag--yellow">user research</strong>



{# <strong class="govuk-tag govuk-tag--blue">tech</strong> 
<strong class="govuk-tag govuk-tag--red">More research needed</strong>
<strong class="govuk-tag govuk-tag--yellow">user research</strong>
<strong class="govuk-tag govuk-tag--blue">tech</strong> 
<strong class="govuk-tag govuk-tag--yellow">user research</strong>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
 #}




</ul>
</dd>
</div>



   <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
      
      
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Round of testing
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>Round 3 informed this prototype</li>
        </dd>
      </div>

            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>8 - 10 November</li>
        </dd>
      </div>
      

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>5 x participants:</li>
            <li>2 x company directors</li>
            <li>1 x member of general public</li>
            <li>1 x developer</li>
            <li>1 x working for a large bank (data team)</li>
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Testing focus
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>Advanced search and results pages </li>
            <li>Terminology</li>
            <li>Caveats</li>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1699441833040/f0a958e84b43c352af10b176c7bf47794582ac14?sender=uc287fb0c65a61d3da2202202"
          target="_blank">Round 3 research findings Mural</a> <br>

        </dd>
      </div>

  </div>
</div>

{% endblock %}
