{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Service information
    </h1>



  <h2 class="govuk-heading-m">
    Disclaimer
  </h2>
  <p class="govuk-body govuk-!-font-weight-bold">The information available on this site is not intended to be comprehensive, and many details which may be relevant to particular circumstances have been omitted. 
    Accordingly it should not be regarded as being a complete source of company law and information, and readers are advised to seek independent professional advice before acting on anything contained herein. 
    Companies House cannot take any responsibility for the consequences of errors or omissions.
  </p>



  <h2 class="govuk-heading-m">
    Data Protection
  </h2>
  <p class="govuk-body">
    Companies House collects personal data from customers for a variety of reasons. 
    For example, the registrar of companies is required by law to collect and make public certain information about officers of companies and other entities, including directors and People with Significant Control. 
    Companies House also handles the personal data of customers writing in with queries or complaints, and collects personal data from those individuals signing up to use our digital services. Further detail on how Companies House handles your personal data in line with the requirements of the General Data Protection Regulation (GDPR) can be found in our 
    <a href="https://www.gov.uk/government/organisations/companies-house/about/personal-information-charter">Personal information charter</a>.
  </p>



  <h2 class="govuk-heading-m">
    Notes for Users of Company Search or Disqualified Directors Search
  </h2>
  <p class="govuk-body">
    The information available here is an extract from the Register of Companies / Register of Disqualified Directors which are updated on a regular basis. 
    This may mean that occasional inaccuracies occur which we correct as soon as they are drawn to our attention. 
    If you spot something which you think might be wrong, let us know so we can, if necessary, correct the database.
  </p>



  <h2 class="govuk-heading-m" id="CompanyInfoSupplied">
    Company Information Supplied by Companies House
  </h2>
  <p class="govuk-body">
    We carry out basic checks on documents received to make sure that they have been fully completed and signed, but we do not have the statutory power or capability to verify the accuracy of the information that companies send to us. 
    The fact that the information has been placed on the public record should not be taken to indicate that Companies House has verified or validated it in any way.
  </p>
  <p class="govuk-body">
    When Companies House examines accounts it only makes basic checks on them, for example to ensure that the appropriate documents are there, that they are for the correct financial year and that they have been signed. 
    If, subsequently, we receive a complaint that the accounts do not comply with the Companies Acts in some way we have a duty to draw this to the company's attention and, if appropriate, to ask for a set of revised accounts which do comply with the requirements.
  </p>

<h2 class="govuk-heading-m" id="AccountsInfoSupplied">
    Accounts information
  </h2>
  <p class="govuk-body">Where we can automatically access data from a company’s accounts, we will show an accounts summary on the company listing. The summary is taken automatically from the latest digital accounts that have been filed for a company.</p>

  <p class="govuk-body">You can also use the advanced search feature to find companies using this data. However, companies will be missing from the search results if the data is not available.   </p>  

  <p class="govuk-body">Accounts data may not be available for different reasons, including if: </p>  
  <ul class="govuk-list govuk-list--bullet">
  <li>the accounts have been submitted in a format that means we cannot access the data automatically - for example, if the company has filed on paper</li>
  <li>it's a new company that has not filed accounts yet</li>
  <li>the company is not required to file the information - <a href="https://www.gov.uk/government/publications/life-of-a-company-annual-requirements/life-of-a-company-part-1-accounts">read the Companies House accounts guidance</a> to check what information companies must include on their accounts</li>
  <li>the company has not filed accounts since XXXX - we only use data from accounts that have been filed digitally after this date</li>
</ul>


  <h2 class="govuk-heading-m">
    Links to external websites
  </h2>
  <p class="govuk-body">
    It is our policy to obtain permission to link to other websites. 
    We are not responsible for the content or reliability of the linked websites. Listing should not be taken as endorsement of any kind. 
    We cannot guarantee that these links will work all of the time and we have no control over the availability of linked pages.
  </p>



  <h2 class="govuk-heading-m">
    Cookies
  </h2>
  <p class="govuk-body"><a href="#"> 
    Our cookie policy 
    </a>
  </p>



  <h2 class="govuk-heading-m">
    Information collected on behalf of HMRC
  </h2>
  <p class="govuk-body">
    Companies House through the Joint Registration Service will act as agents for HMRC and provide an optional service whereby when a person registers a new company, a facility will be offered so that person can also register the company for Corporation Tax. 
    Once incorporation at Companies House has been accepted the Corporation Tax information will be sent to HMRC and will not be retained by Companies House.
  </p>



  <h2 class="govuk-heading-m">
    Acceptable use of Companies House Searchable Databases
  </h2>

  <p class="govuk-body">
    The Companies House searchable databases are designed to meet the needs of a wide range of users wishing to interrogate our information on-line.
  </p>
  <p class="govuk-body">
    Due to limitations of equipment and bandwidth, they are not intended to be a source for bulk downloads.
  </p>
   <p class="govuk-body">
    Individuals, companies, IP addresses or blocks of IP addresses who deny or degrade service to other users by generating unusually high numbers of daily database accesses, whether generated manually or in an automated fashion, may be denied access to these services without notice.
  </p>




  </div>
</div>

{% endblock %}
