//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


// .ul.search-tabs {
//     list-style-type: none;
//     float: left;
//     padding: 0 8px 10px;
//     margin: 0 20px 0 0;
// 


ul.search-tabs {
    overflow: auto;
    border-bottom: 1px solid #0b0c0c;
    margin-bottom: 30px;
    padding-left: 0;
}

ul.search-tabs li.active {
    border-bottom: 5px solid #005ea5;
}

ul.search-tabs li {
    list-style-type: none;
    float: left;
    padding: 0 8px 10px;
    margin: 0 20px 0 0;
}

ul, ol {
    list-style-type: none;
}


.chs-inset-text {
    background-color: #EBF2F9;
    border-left-color: govuk-colour("blue");
}


// // toggle between Current only and All officers and General Overview and accounts
#CurrentOnly, #accounts {
    display: none;
}



.accordion-style



  
  .accordion-label{
      font-family: "GDS Transport", Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 12px;
      font-size: 1rem;
      line-height: 1.25;
      color: #0b0c0c;
      display: block;
      margin-bottom: 5px;
  }
  .accordion-hint {
      font-family: "GDS Transport", Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 12px;
      font-size: 1rem;
      line-height: 1.25;
      display: block;
      margin-bottom: 15px;
      color: #626a6e;
  }
  
  
   .govuk-accordion__section-header {
      padding-top: govuk-spacing(2);
      padding-bottom: govuk-spacing(2);
    }
  
     // Buttons within the sections don’t need default styling
    .govuk-accordion__section-button {
      @include govuk-font($size: 16, $weight: bold);
      display: inline-block;
      margin-bottom: 0;
      padding-top: govuk-spacing(3);
    }


    .js-enabled .govuk-accordion__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 16px;
        height: 16px;
        margin-top: -8px;
    }
  
  
  