//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.accounts-tab 

.ul.search-tabs {
    list-style-type: none;
    float: left;
    padding: 0 8px 10px;
    margin: 0 20px 0 0;
}

ul.search-tabs li.active {
    border-bottom: 5px solid #005ea5;
}

ul.search-tabs li {
    list-style-type: none;
    float: left;
    padding: 0 8px 10px;
    margin: 0 20px 0 0;
}

ul.search-tabs {
    overflow: auto;
    border-bottom: 1px solid #0b0c0c;
    margin-bottom: 30px;
}
ul.search-tabs {
    overflow: auto;
    border-bottom: 1px solid #bfc1c3;
    margin-bottom: 30px;
}
ul, ol {
    list-style-type: none;
}


ul.search-tabs li {
    font-style: normal;
    font-weight: 400;

}