//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


// .ul.search-tabs {
//     list-style-type: none;
//     float: left;
//     padding: 0 8px 10px;
//     margin: 0 20px 0 0;
// 


ul.search-tabs {
    overflow: auto;
    border-bottom: 1px solid #0b0c0c;
    margin-bottom: 30px;
    padding-left: 0;
}

ul.search-tabs li.active {
    border-bottom: 5px solid #005ea5;
}

ul.search-tabs li {
    list-style-type: none;
    float: left;
    padding: 0 8px 10px;
    margin: 0 20px 0 0;
}

ul, ol {
    list-style-type: none;
}


.chs-inset-text {
    background-color: #EBF2F9;
    border-left-color: govuk-colour("blue");
}


// // toggle between Current only and All officers and General Overview and accounts
#CurrentOnly, #accounts {
    display: none;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .content {
    display: none;
    padding: 10px;
  }