{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

       {{ govukTag({
  classes: "govuk-tag--blue govuk-!-margin-bottom-4",
  text: "VERSION 2"
  }) }}


<h2 class="govuk-heading-m">Searchable accounts</h2>

<ul class="govuk-list govuk-list--bullet">      
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="advanced-search">
      Advanced company search
    </a>
  </li>
  
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="advanced-search-results">
    Advanced company search results 
    </a>
  </li>

  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page">
      Company overview page
      </a>
  </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page-missing-data#accountsTab">
      Company overview page - missing data
      </a>
  </li>

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="overview-page-guidance#accountsTab">
      Company overview page - guidance
      </a>
  </li>

  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="advanced-search-results-scenario-one">
    Search results - scenario one
    </a>
  </li>

  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="advanced-search-results-scenario-two">
    Search results - scenario two
    </a>
  </li>

</ul>



<div class="govuk-grid-column-full">

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Version history
    </dt>
  </div>

            {# Tags - copy and paste correct tag(s)
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
              <strong class="govuk-tag govuk-tag--blue">tech</strong>
              <strong class="govuk-tag govuk-tag--red">More research needed</strong>
              <strong class="govuk-tag govuk-tag--yellow">user research</strong>
              <strong class="govuk-tag govuk-tag--pink">design</strong> 
            </div> #}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a class="govuk-link govuk-body-m govuk-link--no-visited-state" 
      href="https://companieshouse.atlassian.net/wiki/spaces/ROE2/pages/4296310807/Iterations+following+Round+3+of+Remove+user+testing" target="_blank">
      <strong>Confluence documentation of changes</strong>
   </a>
  {# <p class="govuk-body">Confluence</p> #}
  </dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">
<strong>High level changes made in this version</strong><br>
<ul class="govuk-list govuk-list--bullet">
<li>Moved and renamed tab</li>
<li>Added missing data and guidance versions of the overview page</li>
<strong class="govuk-tag govuk-tag--red">More research needed</strong>
<li>Updated caveat on search and in blue banner</li>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
<li>Created minus version for testing</li>
<strong class="govuk-tag govuk-tag--yellow">user research</strong>



{# <strong class="govuk-tag govuk-tag--blue">tech</strong> 
<strong class="govuk-tag govuk-tag--red">More research needed</strong>
<strong class="govuk-tag govuk-tag--yellow">user research</strong>
<strong class="govuk-tag govuk-tag--blue">tech</strong> 
<strong class="govuk-tag govuk-tag--yellow">user research</strong>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
 #}




</ul>
</dd>
</div>



   <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
      
      
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Round of testing
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>Round 1 informed this prototype</li>
        </dd>
      </div>

            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>4 - 12 October</li>
        </dd>
      </div>
      

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>5</li>
            <li>Procurement data assurance lead, company accountant, researcher, other GOV dept, industry analyst </li>
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Testing focus
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>Company Profile with the addition of a tab to view accounts information.  </li>
            <li> Advanced search with the addition of x3 new filters - number of employees, balance sheet and profit and loss  </li>
            <li>Tab placement</li>
            <li>Terminology</li>
            <li>User need</li>
            <li>Caveats</li>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1696320488505/564e431c6aa394d3a2e76a167295f61663f08980?sender=uc287fb0c65a61d3da2202202"
          target="_blank">Round 1 research findings Mural</a> <br>

        </dd>
      </div>

  </div>
</div>

{% endblock %}
