{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">/Users/monicatuffs/Documents/GitHub/chs-prototype/app/views/search/enhanced-search-collapsable.html

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

<
    <a></a>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
