{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>


      {# <h2 class="govuk-heading-m govuk-!-padding-top-4">
        Prototypes
      </h2> #}


      <h3 class="govuk-heading-m govuk-!-padding-top-4">
        Beta
      </h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>



        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#">Version X</a>
            </td>
            <td class="govuk-table__cell">
              TBA
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
              TBA
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
          

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>

      <h3 class="govuk-heading-m govuk-!-padding-top-4">
        Alpha
      </h3>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v3/index">Version 4</a>
            </td>
            <td class="govuk-table__cell">
              November 2023 
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
              Not Tested
              </strong>
            </td>
          </tr>


        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v3/index">Version 3</a>
            </td>
            <td class="govuk-table__cell">
              October 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          </tr>


        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v2/index">Version 2</a>
            </td>
            <td class="govuk-table__cell">
              October 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v1/index">Version 1</a>
            </td>
            <td class="govuk-table__cell">
              September 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      {# {{ govukWarningText({
          text: "This prototype is being actively worked on - things might break or change very quickly",
          iconFallbackText: "Warning"
        }) }} #}


    </div>
  </div>
</div>

{% endblock %}
